.image-banner{
    position: absolute;
    margin: 1px; 
    text-align: left;
    left: 207px;

  }
.text-on-banner{
    position: relative;
    top: 25px;
   
  }

.section{
    position:relative;
    background-color:#FFFFFF;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;
    width: 1024px;
    padding: 5px;
    box-sizing: border-box;
    margin: 5px auto;
    border:1px;
    border-color: black;
    border-style: solid;
    top: 380px;
    left:120px;
}

.logo{

  position:absolute;
  bottom: 100px;
  left: 250px;
  
}

nav a{
  text-decoration:none;
  color:inherit;
  font-size:14px;
  } 
  nav li{
  display:inline-block;
  position: relative;
  width:5%;
  padding:5px 10px;
  background-color:rgb(32, 87, 182);
  border:1px solid rgb(32, 87, 182);
  text-align:center;
  color:#fff;
  left: 900px;
  }
 
nav li:visited{
  background-color: rgb(32, 87, 182);}


#current-link {
  background-color: rgb(12, 160, 86);
  text-decoration: none;
}


.web-text {
  position: relative;
  text-align: left;
  font-size: 32px;
  left: 520px;
  margin:0;
  top:400px;
}

h3 {
  position: relative;
  text-align: left;
  left: 520px;
  margin:0;
 top:330px;
  
}

.web-paragraph-about-us {
  position: relative;
  text-align: left;
  font-size: 22px;
  left: 520px;
  top:320px;
  
}

.web-paragraph-home {
  position: relative;
  text-align: left;
  font-size: 22px;
  left: 520px;
  top:380px
  
}
.tab-event{
  position:relative;
  text-indent: 1cm;
  padding:0px;
  bottom:20px;
  font-size: 22px;
}